<!--Modal -->
<ng-template #content let-modal>
    <ng-container *ngIf="character">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">{{ character.name }}</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <img [src]="character.thumbnail | getImage : 'detail'" [alt]="character.name" class="img-fluid">
            </div>
            <ng-container *ngIf="character.description">
                <p>Descipción:</p>
                <p>{{ character.description }}</p>
            </ng-container>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger" (click)="modal.close()">Cerrar</button>
        </div>
    </ng-container>
</ng-template>
<!-- endModal -->