<div class="d-flex" id="content-wrapper">
    <!-- Sidebar -->
    <div id="sidebar-container" class="bg-primary">
        <div class="logo">
            <h4 class="text-light font-weight-bold mb-0">Menú</h4>
        </div>
        <div class="menu">
            <a class="d-block text-light p-3 text-decoration-none border-0" routerLink="/platform/characters" routerLinkActive="active">
                <i class="fas fa-mask"></i>
                &nbsp;Personajes
            </a>
            <a href="#" class="d-block text-light p-3 text-decoration-none border-0" routerLink="/platform/profile" routerLinkActive="active">
                <i class="far fa-address-card"></i>
                &nbsp;
                Perfil
            </a>
            <a href="javascript:void(0)" class="d-block text-light p-3 text-decoration-none border-0" (click)="logout()">
                <i class="fas fa-times"></i>
                &nbsp;
                Cerrar sesión
            </a>
        </div>
    </div>
    <!-- Fin sidebar -->
    
    <div class="w-100">
        <div id="content" class="w-100">
            <div class="container-fluid">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>