<!-- navbar de autenticación -->
<nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">PruebaTénicaApp</span>
    </div>
</nav>
<!--  /navbar de autenticación -->
<!-- Tarjeta de formularios -->
<div class="container">
    <div class="my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Tarjeta de formularios -->