
<h1>Perfil</h1>
<app-loading *ngIf="loading; else profileTemplate"></app-loading>
<ng-template #profileTemplate>
    <div class="alert alert-danger" role="alert" *ngIf="!profile; else dataTemplate">
        <strong>Hubo un problema con tu perfil</strong>
    </div>
    <ng-template #dataTemplate>
        <div class="row mt-5">
            <div class="col-md-6">
                <!-- Información del perfil -->
                <div class="card h-100">
                    <div class="card-body">
                        <h2>Datos de perfíl</h2>
                        <div class="mt-4">
                            <p><b>Email:</b>&nbsp;{{ profile.email }}</p>
                            <p><b>Último Inicio de sesión:</b>&nbsp;{{ profile.lastLogin | date: 'long' }}</p>
                        </div>
                    </div>
                </div>
                <!-- /Información del perfil -->
            </div>
            <div class="col-md-6">
                <div class="card h-100">
                    <div class="card-body">
                        <h2>Editar Perfil</h2>
                        <div class="mt-4">
                            <!-- formulario para editar perfil -->
                            <form [formGroup]="myForm" (submit)="onSubmit()">
                                <div class="mb-3">
                                    <div class="form-floating">
                                        <input formControlName="email" type="email" id="email" class="form-control" placeholder="example@mail.com">
                                        <label for="email">Email</label>
                                    </div>
                                    <div class="text-capitalize text-danger">
                                        <small
                                        *ngIf="myForm.controls['email'].errors?.required && myForm.controls['email'].touched">
                                        Email requerido <br></small>
                                        <small class="text-danger"
                                        *ngIf="myForm.controls['email'].errors?.email && myForm.controls['email'].touched">
                                        Email inválido</small>
                                    </div>
                                </div>
                                <button class="btn btn-primary" type="submit" [disabled]="myForm.invalid">Iniciar sesión</button>
                            </form>
                            <!-- formulario para editar perfil -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</ng-template>