<h3>Personajes guardados</h3>
<app-loading *ngIf="loading;else tableTemplate"></app-loading>
<ng-template #tableTemplate>
    <div class="alert alert-info" role="alert" *ngIf="!characters.length; else dataTemplate">
        <strong>No tienes personajes agregados, has click <a routerLink="/platform/characters/search">aquí</a></strong>
    </div>
    <ng-template #dataTemplate>
        <!-- datatable de personajes -->
        <table datatable [dtOptions]="dtOptions" class="row-border hover">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Imagen</th>
                    <th>Guardar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let character of characters">
                    <td>{{ character.name }}</td>
                    <td>{{ character.description }}</td>
                    <td class="text-center">
                        <img [src]="character.thumbnail | getImage" [alt]="character.name" class="img-fluid">
                    </td>
                    <td class="text-center">
                        <button class="btn btn-danger" type="button" (click)="deleteCharacter(character)" [disabled]="character._id == characterIdDeleting">
                            <i class="far fa-save"></i>&nbsp;Eliminar
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- /datatable de personajes -->
    </ng-template>
</ng-template>

<!-- componente del detalle del personaje -->
<app-detail-character></app-detail-character>