
<div class="card">
    <div class="card-body">
        <h3>Buscar personajes</h3>
        <div class="row justify-content-end">
            <div class="col-md-6">
                <!-- Buscador -->
                <form #form="ngForm" (ngSubmit)="getCharacters()">
                    <div class="input-group mb-3">
                        <input type="text" id="searchResultInput" name="inputPassword" [(ngModel)]="searchResult" class="form-control" placeholder="Buscar por nombre"
                        aria-label="Buscar por nombre" aria-describedby="search-button">
                        <button class="btn btn-primary" type="submit" id="search-button" [disabled]="!searchResult">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </form>
                <!-- /Buscador -->
            </div>
        </div>
        <app-loading *ngIf="loading; else tableTemplate"></app-loading>
        <ng-template #tableTemplate>
            <div class="alert alert-info" role="alert" *ngIf="!characters.length; else dataTemplate">
                <strong>No hay personajes con ese filtro</strong>
            </div>
            <ng-template #dataTemplate>
                <!-- datatable de personajes -->
                <table datatable [dtOptions]="dtOptions" class="row-border hover">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Imagen</th>
                            <th>Guardar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let character of characters">
                            <td>{{ character.name }}</td>
                            <td>{{ character.description }}</td>
                            <td class="text-center">
                                <img [src]="character.thumbnail | getImage" [alt]="character.name" class="img-fluid">
                            </td>
                            <td class="text-center">
                                <p class="text-success" *ngIf="character.id | validateStored : charactersStoreds ;else saveTemplate"><i class="fas fa-check"></i>&nbsp;Guardado</p>
                                <ng-template #saveTemplate>
                                    <button class="btn btn-success" type="button" (click)="saveCharacter(character.id)" [disabled]="character.id == charaterSaving">
                                        <i class="far fa-save"></i>&nbsp;Guardar
                                    </button>
                                </ng-template>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- /datatable de personajes -->
            </ng-template>
        </ng-template>
    </div>
</div>