<h1>Personajes</h1>
<!-- Tabs -->
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" routerLink="/platform/characters/search" routerLinkActive="active" >Buscar personajes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/platform/characters/save" routerLinkActive="active" >Guardados</a>
    </li>
</ul>
<!-- /Tabs -->
<div class="container-fluid mt-5">
    <router-outlet></router-outlet>
</div>