<h1 class="text-center">Registro</h1>
<div class="mt-4">
    <app-loading *ngIf="loading; else formTemplate"></app-loading>
    <ng-template #formTemplate>
        <form [formGroup]="myForm" (submit)="onSubmit()">
            <div class="mb-3">
                <div class="form-floating">
                    <input formControlName="email" type="email" id="email" class="form-control" placeholder="example@mail.com">
                    <label for="email">Email</label>
                </div>
                <div class="text-capitalize text-danger">
                    <small
                      *ngIf="myForm.controls['email'].errors?.required && myForm.controls['email'].touched">
                      Email requerido <br></small>
                    <small class="text-danger"
                      *ngIf="myForm.controls['email'].errors?.email && myForm.controls['email'].touched">
                      Email inválido</small>
                </div>
            </div>
            <div class="mb-3">
                <div class="form-floating">
                    <input formControlName="password" type="password" id="password" class="form-control" placeholder="*******">
                    <label for="password">Contraseña</label>
                </div>
                <div class="text-danger">
                    <small
                      *ngIf="myForm.controls['password'].errors?.required && myForm.controls['password'].touched">
                      Contraseña es requerida <br></small>
                    <small class="text-danger"
                      *ngIf="myForm.controls['password'].errors?.minlength && myForm.controls['password'].touched">
                      Contraseña debe tener por lo menos 8 caracteres</small>
                </div>
            </div>
            <button class="btn btn-primary" type="submit" [disabled]="myForm.invalid">Iniciar sesión</button>
        
        </form>
        <div class="text-center">
            <a routerLink="/auth/login">Iniciar sesión</a>
        </div>
    </ng-template>
</div>